
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

body{
  min-height: 100vh;
  position: relative;
}

.navbar-nav li a {
  margin: 0 0 0 15px;
  transition: underline 0.4 ease;
  position: relative;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.navbar li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #1abc9c;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.navbar li a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

@media (max-width : 992px) {
  .navbar li a::before{
    background-color: #f8f9fa;
  }

  .navbar li a:hover{
    font-weight: 500;
  }
}

.navbar-brand {
  color: #777 !important;
}

.navbar-brand:hover{
  color: #333 !important;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #1abc9c;
}

.footer p {
  margin-top: 25px;
  font-size: 12px;
  color: #fff;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 400;
}

.card h1{
  margin: 0 0 10px;
}

input[type = "text"]:focus, textarea[name = "newPara"]:focus{
    box-shadow: none;
    border: 1px solid #333;
}

.btn:focus{
    box-shadow: none;
}

.card{
  border: 0;
  box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


p > a.anchor{
  text-decoration: none;
  color: #1abc9c ;
  transition: underline 0.4 ease;
  position: relative;
}

a.anchor:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #1abc9c;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.anchor:hover:before {
  visibility: visible;
  transform: scaleX(1);
}